.fw-light.text-center.text-lg-start.mt-4.mb-0 {
  font-family: helvetica;
}

.año {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.fondo {
  background-image: url("https://i.redd.it/x658k6l5wyy31.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.contenedor {
  background-color: aliceblue;
  padding-top: 40px;
  border-radius: 5px;
}
