body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col1-st] 100px [col2-st] 100px [col3-st] 100px [col3-en];
  grid-template-rows: [fil1-st] auto [fil2-st] auto [fil2-en];
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-column: col1-st / col3-st;
  grid-row: fil1-st;
}
.b {
  grid-column: col3-st;
  grid-row: fil1-st / fil2-en;
}
.c {
  grid-column: col1-st;
  grid-row: fil2-st;
}
.d {
  grid-column: col2-st;
  grid-row: fil2-st;
}
