#div-0,
#div-2 {
  background-color: #88d;
  color: #000;
}
#div-1 {
  width: 500px;
  background-color: #000;
  color: #fff;
}
#div-1-padding {
  padding: 10px;
}
#div-1a {
  background-color: #d33;
  color: #fff;
  float: left;
  width: 200px;
}
#div-1b {
  background-color: #3d3;
  color: #fff;
  float: left;
  width: 400px;
}

#stop {
  clear: both;
}
